h1
{
    text-align: center;
    font-size: 24px;
    margin: 5px 0;
}

h2
{
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
}

h3
{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
}

#swf
{
    width: 550px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid #000;
}